doctype html
html
    head
        <script src="https://kit.fontawesome.com/7a2943826c.js" crossorigin="anonymous"></script>
        title | Wetube
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
            